@import "../custom.scss";

/******************** MOBILE STYLING ******************/
.bestsellers__carousel {
  padding: 0 40px;
}

.bestsellers__img {
  height: auto;
  max-width: 500px;
  width: 100%;
}

.bestsellers__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--ff-primary);
  width: 100%;
}

.bestsellers__name {
  font-weight: var(--fw-bold);
  font-size: 22px;
  padding: 20px 40px 10px 40px;
  margin-bottom: 0;
  text-align: center;
}

.bestsellers__price {
  font-weight: var(--fw-semibold);
  font-size: 25px;
}

.bestsellers__rating {
  color: $primary;
  font-size: 25px;
  padding: 20px 0;
}

.addToCartBtn {
  padding: 15px 50px !important;
  text-transform: uppercase;
}

// Carousel arrows
.slick-arrow {
  width: 60px;
  height: 60px;
  z-index: 5;
}

.slick-prev {
  left: 0;

  &:before {
    color: $dark;
    font-size: 35px;
  }
}

.slick-next {
  right: 0;

  &:before {
    color: $dark;
    font-size: 35px;
  }
}

// Carousel indicators
.slick-dots {
  bottom: -50px;

  li button:before {
    font-size: 22px;
  }
}

/********** MEDIA QUERIES *******/
/******************** TABLET STYLING ******************/
@media screen and (max-width: 1000px) {
  .slick-arrow {
    display: none !important;
  }
}

@media (min-width: 576px) and (max-width: 900px) {
  .bestsellers__img {
    max-width: 400px;
  }
}

/******************** DESKTOP STYLING ******************/
@include media-breakpoint-up(sm) {
  .bestsellers__content {
    width: 500px;
  }
}

@include media-breakpoint-up(lg) {
  .bestsellers__name {
    font-size: 28px;
  }
}
