@import "../custom.scss";

/******************** MOBILE STYLING ******************/
.bestsellers__carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  // animation: slide-left 0.6s both;
  animation: slide-in-right 0.6s both;
  position: relative;
}

//  Carousel animation
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.bestsellers__carousel--hidden {
  display: none;
}

.bestsellers__img {
  height: auto;
  max-width: 450px;
  width: 100%;
}

.bestsellers__name {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: 25px;
  padding: 20px 40px 10px 40px;
  margin-bottom: 0;
}

.bestsellers__price {
  font-family: var(--ff-primary);
  font-weight: var(--fw-semibold);
  font-size: 25px;
}

.bestsellers__rating {
  color: $primary;
  font-size: 25px;
}

.bestseller__indicators {
  bottom: -3rem;
  display: flex;
  position: absolute;

  .indicator {
    background-color: $dark;
    border-radius: 100%;
    border: none;
    height: 0.8rem;
    margin: 0 0.2rem;
    width: 0.8rem;
  }

  .indicator--inactive {
    background-color: $dark-gray;
  }
}

/******************** TABLET STYLING ******************/
@include media-breakpoint-up(sm) {
  .bestsellers__carousel {
    flex-direction: row;
  }
}

/******************** DESKTOP STYLING ******************/
