@import "/src/custom.scss";

/******************** MOBILE STYLING ******************/
#hero {
  position: relative;
  text-align: center;
  top: 20%;
  padding: 0 12px;

  h1,
  p {
    color: $light;
    font-family: var(--ff-header);
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.45);
  }
}

.hero__heading {
  font-weight: var(--fw-black);
  font-size: 3.5rem;
      
  span {
    color: $primary;
  }
}

.hero__description {
  font-size: 18px;
  font-weight: var(--fw-bold);
  margin: 25px 0;
}

.hero__btn {
  text-transform: uppercase;
}
/******************** DESKTOP STYLING ******************/

/********** MEDIA QUERIES **********/

// Mobile -->
@media screen and (min-width: 575px) {
  .hero__heading {
    font-size: 4rem;
    padding: 0 15px;
  }

  .hero__description {
    font-size: 24px;
    margin: 25px 100px;
  }
}


