@import "/src/custom.scss";

/******************** MOBILE STYLING ******************/

// Class in App.js
.nav-header {
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 20;
  transition: 0.3s ease-in;
}
.nav-header--bg {
  background-color: hsla(354, 11%, 18%, 0.982);
}

/* Navigation button styling */
.nav__hamburger {
  background-color: transparent;
  border: none;
  padding: 15px;
  position: relative;
  z-index: 10;

  .nav__icon {
    font-size: 35px;
  }

  .bars {
    color: $light;
  }

  .cross {
    color: $dark;
  }
}

// Mobile Nav menu styling
.nav__menu {
  display: none;
}

.nav__menu.show {
  background-color: $light;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 40px 0;
  position: absolute;
  top: -100%;
  transition: 0.3s;
  width: 100%;
  z-index: 5;
}

// Nav Dropdpwn styling
.dropdown-menu.show {
  inset: auto 0;
  text-align: center;
}

.nav__dropdown {
  color: $dark;
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-header);
  font-size: 28px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;

  &::after {
    background-color: $primary;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 0;
  }
  &:hover::after {
    content: "";
    height: 3px;
    width: 100%;
  }

  .nav__item {
    font-family: var(--ff-header);
    text-align: center;
  }

  .nav__link {
    color: $dark;
    font-size: 22px;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
  }
}

// Styling for nav contact link
.nav__item-contact {
  text-align: center;
}

.contact-link {
  color: $dark;
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-header);
  font-size: 28px;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  position: relative;

  &::after {
    background-color: $primary;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out;
    width: 0;
  }
  &:hover::after {
    content: "";
    height: 3px;
    width: 100%;
  }
}

// Logo styling
.logo {
  color: $light;
  cursor: pointer;
  font-family: var(--ff-header);
  font-size: 40px;
  left: 42%;
  padding-top: 12px;
  position: absolute;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.45);
  top: 0;
  z-index: 2;

  span {
    color: $primary;
  }
}

/******************** DESKTOP STYLING ******************/

/********** MEDIA QUERIES **********/

// Tablet -> Desktop
@include media-breakpoint-up(lg) {
  .nav__hamburger {
    display: none;
  }

  .nav__menu {
    display: flex;
  }

  .nav__item {
    padding: 20px 15px;
  }

  // Dropdown for desktop
  .nav__dropdown,
  .contact-link {
    color: $light;
    text-shadow: 4px 4px 4px rgba(81, 79, 79, 0.58);
    font-size: 25px;

    &:hover {
      color: #d1c9c9;
    }
  }

  .nav__link {
    text-shadow: none;
  }

  .logo {
    font-size: 55px;
    left: 48%;
    padding-top: 0;
  }
}
